<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>
    
    <section id="login" class="animate__animated animate__flipInY">
        <form class="box" action="" method="post">
            <div class="col-12 user-img">
                <img src="/img/avatar.png"/>
            </div>
            <h1>Bienvenido</h1>

            <input type="email" name="email" placeholder="Correo electronico">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" name="entrar" value="Ingresar">
        </form>
    </section>
    
    <%- include ('partials/footer.html')%>
</body>
</html>