<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>
    
    <section id="proyectos">
        <div class="container-cards">
            <h1>PROYECTOS REALIZADOS</h1>
            <div class="card">
                <div class="imgBx">
                    <img src="/img/1.jpg" alt="">
                </div>
                <div class="info-card">
                    <h2>Card uno</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem unde culpa maxime! Saepe, eligendi incidunt repudiandae soluta aliquid quia voluptatibus doloremque alias ex corporis. Totam delectus assumenda aspernatur id sit!</p>
                </div>
            </div>
    
            <div class="card">
                <div class="imgBx">
                    <img src="/img/2.jpg" alt="">
                </div>
                <div class="info-card">
                    <h2>Card dos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem unde culpa maxime! Saepe, eligendi incidunt repudiandae soluta aliquid quia voluptatibus doloremque alias ex corporis. Totam delectus assumenda aspernatur id sit!</p>
                </div>
            </div>
    
            <div class="card">
                <div class="imgBx">
                    <img src="/img/3.jpg" alt="">
                </div>
                <div class="info-card">
                    <h2>Card tres</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem unde culpa maxime! Saepe, eligendi incidunt repudiandae soluta aliquid quia voluptatibus doloremque alias ex corporis. Totam delectus assumenda aspernatur id sit!</p>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section id="tecnologias">
       
        <div class="card2">
            <div class="card-image"></div>
            <div class="card-text">
                <h2>Post Uno</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, perferendis odio expedita ea, fugiat vel cum facere hic officiis quidem eaque natus ex consectetur! Aliquam quisquam ullam reiciendis obcaecati corporis!</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">view</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">coments</div>
                </div>
            </div>
        </div>

        <div class="card2">
            <div class="card-image"></div>
            <div class="card-text">
                <h2>Post Uno</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, perferendis odio expedita ea, fugiat vel cum facere hic officiis quidem eaque natus ex consectetur! Aliquam quisquam ullam reiciendis obcaecati corporis!</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">view</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">coments</div>
                </div>
            </div>
        </div>

        <div class="card2">
            <div class="card-image"></div>
            <div class="card-text">
                <h2>Post Uno</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, perferendis odio expedita ea, fugiat vel cum facere hic officiis quidem eaque natus ex consectetur! Aliquam quisquam ullam reiciendis obcaecati corporis!</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">view</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">coments</div>
                </div>
            </div>
        </div>

        <div class="card2">
            <div class="card-image"></div>
            <div class="card-text">
                <h2>Post Uno</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, perferendis odio expedita ea, fugiat vel cum facere hic officiis quidem eaque natus ex consectetur! Aliquam quisquam ullam reiciendis obcaecati corporis!</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">view</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">coments</div>
                </div>
            </div>
        </div>
        
    </section>

    <%- include ('partials/footer.html')%>
</body>
</html>