<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>

    <section class="tecnologias">
        <div class="container-cards2 animate__animated animate__jackInTheBox">
            <h1>PROYECTOS REALIZADOS</h1>
            <div class="card2">
                <div class="imgBx2">
                    <img src="/img/3.jpg" data-text="Diseño">
                </div>
                <div class="info-card2">
                    <div>
                        <h3>Diseño</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum non corrupti vel doloribus cum quaerat eum reiciendis voluptatibus modi ipsum error vitae tenetur quo autem eveniet aspernatur, voluptate omnis optio.</p>
                        <a href="#">Leer mas</a>
                    </div>
                </div>
            </div>
    
            <div class="card2">
                <div class="imgBx2">
                    <img src="/img/2.jpg" data-text="Codigo">
                </div>
                <div class="info-card2">
                    <div>
                        <h3>Codigo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum non corrupti vel doloribus cum quaerat eum reiciendis voluptatibus modi ipsum error vitae tenetur quo autem eveniet aspernatur, voluptate omnis optio.</p>
                        <a href="#">Leer mas</a>
                    </div>
                </div>
            </div>
    
            <div class="card2">
                <div class="imgBx2">
                    <img src="/img/1.jpg" data-text="Desplegue">
                </div>
                <div class="info-card2">
                    <div>
                        <h3>Desplegue</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum non corrupti vel doloribus cum quaerat eum reiciendis voluptatibus modi ipsum error vitae tenetur quo autem eveniet aspernatur, voluptate omnis optio.</p>
                        <a href="#">Leer mas</a>
                    </div>
                </div>
            </div>
    
            <div class="card2">
                <div class="imgBx2">
                    <img src="/img/3.jpg" data-text="Ultimo">
                </div>
                <div class="info-card2">
                    <div>
                        <h3>Ultimo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum non corrupti vel doloribus cum quaerat eum reiciendis voluptatibus modi ipsum error vitae tenetur quo autem eveniet aspernatur, voluptate omnis optio.</p>
                        <a href="#">Leer mas</a>
                    </div>
                </div>
            </div>
        </div>        
    </section>


    

    <%- include ('partials/footer.html')%>
</body>
</html>