body {
  font-family: "Pangolin", cursive;
  color: #fff;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*CONTACTO*/
#contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.contentt {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
  margin-top: -60px;
}

.logo span {
  color: #ee8621;
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: white;
  color: black;
}

.contact-form h3{
  text-align: center;
  margin-bottom: 15px;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(151, 144, 144);
  border: 1px solid #e29b55;
  border-radius: 5px;
}

.contact-form form button:focus,
.contact-form form input:focus,
.contact-form form textarea:focus{
  box-shadow: 0px 0px 1px #d47f2a inset;
  color: black;
}

.contact-form form button {
  background: #ee8621;
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:hover {
  background: #da9551;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #343a40;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 20px 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}

/*TARGETAS PROYECTOS*/
#proyectos{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-cards{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container-cards h1{
display: block;
width: 100%;
text-align: center;
margin-top: 10px;
margin-bottom: 25px;
}

.container-cards .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 300ms ease-in-out;
}

.container-cards .card:hover{
  height: 395px;
}

.container-cards .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container-cards .card .imgBx img{
  max-width: 100%;
  border-radius: 4px;
}

.container-cards .card .info-card{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out;
}

.container-cards .card:hover .info-card{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 300ms;
}

hr{
  background: white;
}

/*SEGHUNDAS CARDS*/
.tecnologias{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-cards2{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.container-cards2 h1{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  }

.tecnologias .card2{
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.tecnologias .card2 .imgBx2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.tecnologias .card2:hover .imgBx2{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: #ff0057;
}

.tecnologias .card2 .imgBx2:before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255, 255, 255, .05);
  font-weight: 700;
}

.tecnologias .card2 .imgBx2 img{
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.tecnologias .card2:hover .imgBx2 img{
  max-width: 75px;
}

.tecnologias .card2 .info-card2{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologias .card2 .info-card2 h3{
  margin-bottom: 5px;
  font-size: 24px;
  color: #111;
}

.tecnologias .card2 .info-card2 p{
  color: #111;
}

.tecnologias .card2 .info-card2 a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px  10px;
  background: #333;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px){
  .tecnologias{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .tecnologias .car2{
    width: 400px;
  }
}

@media (max-width: 768px){
  .tecnologias .card2{
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .tecnologias .card2 .imgBx2{
    position: relative;
  }

  .tecnologias .card2 .imgBx2,
  .tecnologias .card2:hover .imgBx2{
    width: 100%;
    height: 200px;
    left: 0;
  }

  .tecnologias .card2 .imgBx2 img,
  .tecnologias .card2:hover .imgBx2 img{
    max-width: 100px;
  }

  .tecnologias .card2 .info-card2{
    position: relative;
    width: 100%;
  }
}
/*footer redes sociales*/
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
  margin: 10px;
	text-align: center;
}

footer .redes-sociales a i {
	font-size: 50px;
  line-height: 50px;
  color: #343a40;
  transition: all 300ms;
}
footer .redes-sociales a i:hover{
  color: #ee8621;
}

/*Inicio de sesion*/
#login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.user-img{
  margin-top: -120px;
  margin-bottom: 35px;
}

.user-img img{
  width: 150xp;
  height: 150px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
}

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  box-shadow: 0px 0px 3px #848484;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "email"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #52bfcb;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "email"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #ee8621;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #52bfcb;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #ee8621;
}

/*Footer copy*/

footer .copyright {
  color: #999;
  margin-top: 5px;
  text-align: center;
  font-size: 1em;
}

footer .copyright .menu {
  list-style: none;
  padding-left: 0;
}

footer .copyright .menu li {
  border-left: solid 1px #e0e0e0;
  display: inline-block;
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}

footer .copyright .menu li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
