<footer class="bg-light text-center p-2">
    <div class="redes-sociales">
        <div class="contenedor-icon">
            <a href="https://twitter.com/DarkEHS">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <div class="contenedor-icon">
            <a href="https://www.facebook.com/efrainhsdg">
                <i class="fab fa-facebook-square"></i>
            </a>
        </div>
        <div class="contenedor-icon">
            <a href="https://github.com/EfrainHS">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="contenedor-icon">
            <a href="https://www.linkedin.com/in/efrainhs-null-339382185/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="contenedor-icon">
            <a href="https://myaccount.google.com/?utm_source=OGB&tab=wk&utm_medium=app">
                <i class="fab fa-google-plus-square"></i>
            </a>
        </div>
    </div>
    
<!-- Copyright -->
    <div class="copyright">
        <ul class="menu">
            <li>&copy; EfrainHS. Todos los derechos reservados</li><li>Desarrollado con NodeJS</li>
        </ul>
    </div>
</footer>

<!-- Scrips bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>